<ConfigFile>
	<Resolution x="1280" y="720"/>
	<ScreenSize x="2560" y="1440"/>
	<Fullscreen enabled="yes"/>
	<Font red="255" green="255" blue="255" size="30"/>
	<Chars>
		<char name="turtle"/>
	</Chars>
	<Stages>
      <stage name="demo"/>
	</Stages>
	<YouLose x="0" y="0" animation_velocity="5" sound="misc/lose.wav"/>
	<YouWin x="0" y="0" animation_velocity="5" sound="misc/win.wav"/>
</ConfigFile>
